/* ------------- TOP TITLE -------------------- */
@media screen and (max-width: 1118px) {
.topTitle {
    font-size: 18px;
    font-family: Designer;
    color: white;
    font-weight: 100;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}
a.cool {
    color: #fff09c;
    transition: 0.5s;
    border-radius: 5px;
    text-decoration: underline;
}
a.cool:hover {
    cursor:default;
    color: #fff477;
    transition: 0.5s;
    background-color: #292923;
    padding: 10px 13px;
    border-radius: 20px;
    cursor:grab;
    text-decoration: underline #c077ff00;
}
}
@media screen and (min-width: 1118px) {
.topTitle {
    font-size: 45px;
    font-family: Designer;
    color: white;
    font-weight: 100;
    justify-content: center;
    text-align: center;
    margin-top: 110px;
    }
    a.cool {
        color: #fff09c;
        transition: 0.5s;
        border-radius: 5px;
        text-decoration: underline;
    }
    a.cool:hover {
        cursor:default;
        color: #fff477;
        transition: 0.5s;
        background-color: #292923;
        padding: 10px 13px;
        border-radius: 20px;
        cursor:grab;
        text-decoration: underline #c077ff00;
    }
}








/* ------------- MAIN BOX -------------------- */
@media screen and (max-width: 1118px) {
.notification {
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    position: relative;
    width: 320px;
    height: 300px;
    background: rgba(255, 230, 0, 0.126);
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --color: #32a6ff;
    text-align: center;
    align-content: center;
    transition: 0.5s ease;
  }
  .notification img {
      width: 250px;
      height: 125px;
      margin-bottom: 0px;
      border-radius: 20px;
      transition: opacity 0.5s ease;
      z-index: 2;
      left: 50%;
      animation: float 4s ease-in-out infinite;
  }
  
  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

  .notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #171714;
    z-index: 2
  }
  
  .notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
  }
  
  .notification:hover {
      transform: scale(1.05);
      box-shadow: 0 0px 19px rgba(253, 255, 142, 0.079);
      margin-left: 20px;
      margin-right: 20px;
  }
  
  .notification:hover:after {
    transform: translateX(0.15rem)
  }
  
  .notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
    font-weight: bolder;
  }
  
  .notification:hover .notititle {
    transform: translateX(0.15rem)
  }
  
  .notibody {
    color: #99999d;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  /*
  .notification:hover .notibody {
    transform: translateX(0.25rem)
  }
    */
  
  .notiglow,
  .notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-0%, -20%);
    background: radial-gradient(circle closest-side at center, rgb(255, 244, 118), transparent);
    opacity: 0;
    transition: opacity 300ms ease;
  }
  
  .notiglow {
    z-index: 3;
  }
  
  .notiborderglow {
    z-index: 1;
  }
  
  .notification:hover .notiglow {
    opacity: 0.1
  }
  
  .notification:hover .notiborderglow {
    opacity: 0.1
  }
  
  .note {
    color: var(--color);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
  }
  .Box {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 40px;
      flex-wrap: wrap; /* This allows the items to wrap to the next line */
  }

.notibody h2 {
    font-family: Designer;
    font-weight: lighter;
    color: rgb(255, 248, 206);
  }
.notibody p {
    font-family: Tommy;
    font-weight: lighter;
    color: rgb(168, 165, 146);
  }
}
  /* ------------------------------------- */

  @media screen and (min-width: 1118px) {
    .notification {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        isolation: isolate;
        position: relative;
        width: 900px;
        height: 300px;
        background: rgba(255, 230, 0, 0.126);
        border-radius: 1rem;
        overflow: hidden;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        --color: #32a6ff;
        text-align: center;
        align-content: center;
        transition: 0.5s ease;
      }
      .notification img {
          width: 400px;
          height: 200px;
          margin-bottom: 0px;
          border-radius: 20px;
          transition: opacity 0.5s ease;
          z-index: 2;
          left: 50%;
          animation: float 4s ease-in-out infinite;
      }
      
      @keyframes float {
        0% {
            transform: translatey(10px);
        }
        50% {
            transform: translatey(0px);
        }
        100% {
            transform: translatey(10px);
        }
    }
    
      .notification:before {
        position: absolute;
        content: "";
        inset: 0.0625rem;
        border-radius: 0.9375rem;
        background: #171714;
        z-index: 2
      }
      
      .notification:after {
        position: absolute;
        content: "";
        width: 0.25rem;
        inset: 0.65rem auto 0.65rem 0.5rem;
        border-radius: 0.125rem;
        background: var(--gradient);
        transition: transform 300ms ease;
        z-index: 4;
      }
      
      .notification:hover {
          transform: scale(1.05);
          box-shadow: 0 0px 19px rgba(253, 255, 142, 0.079);
          margin-left: 20px;
          margin-right: 20px;
      }
      
      .notification:hover:after {
        transform: translateX(0.15rem)
      }
      
      .notititle {
        color: var(--color);
        padding: 0.65rem 0.25rem 0.4rem 1.25rem;
        font-weight: 500;
        font-size: 1.1rem;
        transition: transform 300ms ease;
        z-index: 5;
        font-weight: bolder;
      }
      
      .notification:hover .notititle {
        transform: translateX(0.15rem)
      }
      
      .notibody {
        color: #99999d;
        padding: 0 1.25rem;
        transition: transform 300ms ease;
        z-index: 5;
      }
      /*
      .notification:hover .notibody {
        transform: translateX(0.25rem)
      }
        */
      
      .notiglow,
      .notiborderglow {
        position: absolute;
        width: 20rem;
        height: 20rem;
        transform: translate(-0%, -20%);
        background: radial-gradient(circle closest-side at center, rgb(255, 244, 118), transparent);
        opacity: 0;
        transition: opacity 300ms ease;
      }
      
      .notiglow {
        z-index: 3;
      }
      
      .notiborderglow {
        z-index: 1;
      }
      
      .notification:hover .notiglow {
        opacity: 0.1
      }
      
      .notification:hover .notiborderglow {
        opacity: 0.1
      }
      
      .note {
        color: var(--color);
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 0.9rem;
        width: 75%;
      }
      .Box {
          display: flex;
          justify-content: center;
          gap: 20px;
          margin-top: 40px;
          flex-wrap: wrap; /* This allows the items to wrap to the next line */
      }
    
    .notibody h2 {
        font-family: Designer;
        font-weight: lighter;
        color: rgb(255, 248, 206);
      }
    .notibody p {
        font-family: Tommy;
        font-weight: lighter;
        color: rgb(168, 165, 146);
      }
    }





/* ------------- MIDDLE TITLE -------------------- */
@media screen and (max-width: 1118px) {
    .middleTitle {
        font-size: 30px;
        font-family: Designer;
        color: white;
        font-weight: 100;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    a.nice {
        color: #fff09c;
        transition: 0.5s;
        border-radius: 5px;
        text-decoration: underline;
    }
    a.nice:hover {
        cursor:default;
        color: #fff477;
        transition: 0.5s;
        background-color: #292923;
        padding: 10px 13px;
        border-radius: 20px;
        cursor:grab;
        text-decoration: underline #c077ff00;
    }
    }
    @media screen and (min-width: 1118px) {
    .middleTitle {
        font-size: 35px;
        font-family: Designer;
        color: white;
        font-weight: 100;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        }
        a.nice {
            color: #fff09c;
            transition: 0.5s;
            border-radius: 5px;
            text-decoration: underline;
        }
        a.nice:hover {
            cursor:default;
            color: #fff477;
            transition: 0.5s;
            background-color: #292923;
            padding: 10px 13px;
            border-radius: 20px;
            cursor:grab;
            text-decoration: underline #c077ff00;
        }
    }




    /* ------------- RESPONSIVE TIMELINE -------------------- */


    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    @font-face {
      font-family: Poppins;
      src: url(./fonts/Poppins-Medium.ttf);
    }
    .main {
      width: 100%;
      height: auto;
      display: grid;
      place-items: center;
      padding: 50px 0;
    }
    .main .head {
      font-size: 29px;
      color: rgba(91, 14, 216, 0.767);
      position: relative;
      margin-bottom: 100px;
      font-weight: 500;
      font-family: Designer;
      color: white;
    }
    .main .head::after {
      content: " ";
      position: absolute;
      width: 50%;
      height: 3px;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
      background-image: linear-gradient(to right,rgba(72, 71, 0, 0), rgba(216, 213, 14, 0.767), rgba(72, 71, 0, 0));
    }
    
    /* Container Css Start  */
    
    .container-plan {
      width: 70%;
      height: auto;
      margin: auto 0;
      position: relative;
    }
    .container-plan ul {
      list-style: none;
    }
    .container-plan ul::after {
      content: " ";
      position: absolute;
      width: 2px;
      height: 100%;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      background-image: linear-gradient(to bottom, rgba(146, 134, 0, 0.767), rgba(52, 44, 0, 0.747));
    }
    .container-plan ul li.li-plan {
      width: 50%;
      height: auto;
      padding: 15px 20px;
      background-color: #171714;
      border: 1px solid;
      border-color: rgba(255, 230, 0, 0.126);
      border-radius: 8px;
      position: relative;
      margin-bottom: 30px;
      z-index: 99;
      transition: all 0.5s;
    }
    .container-plan ul li:hover {
      transform: scale(20px);
      box-shadow: 0 0 10px #3a3100;
    }
    .container-plan ul li:nth-child(4) {
      margin-bottom: 0;
    }
    .container-plan ul li .circle {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ffcc007a;
      top: 0;
      display: grid;
      place-items: center;
    }
    .circle::after{
      content: ' ';
      width: 12px;
      height: 12px;
      background-color: #c7b600;
      border-radius: 50%;
    }
    ul li.li-plan:nth-child(odd) .circle {
      transform: translate(50%, -50%);
      right: -30px;
    }
    ul li.li-plan:nth-child(even) .circle {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    ul li.li-plan .date {
      position: absolute;
      width: 130px;
      height: 33px;
      background-image: linear-gradient(to right,#594b00,#2a2400);
      border-radius: 10px;
      top: -45px;
      display: grid;
      place-items: center;
      color: #fff9c8;
      font-size: 13px;
      box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
      font-family: Tommy;
      border: 1.5px solid;
      border-color: #6c5e13;
    }
    .container-plan ul li.li-plan:nth-child(odd) {
      float: left;
      clear: right;
      text-align: right;
      transform: translateX(-30px);
    }
    ul li.li-plan:nth-child(odd) .date {
      right: 20px;
    }
    .container-plan ul li.li-plan:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
    }
    ul li.li-plan .heading {
      font-size: 17px;
      color: rgb(255, 255, 255);
      font-family: Tommy;
      font-weight: lighter;
    }
    ul li.li-plan p {
      font-family: Tommy;
      font-size: 13px;
      color: #837f63;
      line-height: 18px;
      margin: 6px 0 4px 0;
      text-align: justify;
    }
    ul li.li-plan a {
      font-family: Tommy;
      text-decoration: underline;
      font-size: 13px;
      color: #5b5945;
      transition: all 0.3s ease;
    }
    
    
    @media only screen and (min-width:798px) and (max-width: 1100px) {
      .container-plan{
        width: 80%;
      }
    }
    
    @media only screen and (max-width: 798px) {
      .container-plan{
        width: 70%;
        transform: translateX(20px);
      }
      .container-plan ul::after{
        left: -40px;
      }
      .container-plan ul li.li-plan {
        width: 100%;
        float: none;
        clear: none;
        margin-bottom: 80px;
      }
      .container-plan ul li.li-plan .circle{
        left: -40px;
        transform: translate(-50%, -50%);
      }
      .container-plan ul li.li-plan .date{
        left: 20px;
      }
      .container-plan ul li.li-plan:nth-child(odd) {
        transform: translateX(0px);
        text-align: left;
      }
      .container-plan ul li.li-plan:nth-child(even) {
        transform: translateX(0px);
      }
    }
    
    @media only screen and (max-width: 550px) {
      .container-plan{
        width: 80%;
      }
      .container-plan ul::after{
        left: -20px;
      }
      .container-plan ul li.li-plan .circle{
        left: -20px;
      }
    }





        /* ------------- MISSION & VISION -------------------- */

        .Primary {
          width: 100%;
          height: auto;
          display: grid;
          place-items: center;
          padding: 50px 0;
        }
        .Primary .Rass {
          font-size: 29px;
          color: rgba(91, 14, 216, 0.767);
          position: relative;
          margin-bottom: 100px;
          font-weight: 500;
          font-family: Designer;
          color: white;
        }
        .Primary .Rass::after {
          content: " ";
          position: absolute;
          width: 50%;
          height: 3px;
          left: 50%;
          bottom: -5px;
          transform: translateX(-50%);
          background-image: linear-gradient(to right,rgba(72, 71, 0, 0), rgba(216, 213, 14, 0.767), rgba(72, 71, 0, 0));
        }


        @media screen and (max-width: 1118px) {
          .notificationBox {
              margin-top: -100px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              isolation: isolate;
              position: relative;
              width: 175px;
              height: 240px;
              background: rgba(255, 230, 0, 0.126);
              border-radius: 1rem;
              overflow: hidden;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              font-size: 16px;
              --color: #32a6ff;
              text-align: center;
              align-content: center;
              transition: 0.5s ease;
            }
            .notificationBox img {
                width: 250px;
                height: 125px;
                margin-bottom: 0px;
                border-radius: 20px;
                transition: opacity 0.5s ease;
                z-index: 2;
                left: 50%;
                animation: float 4s ease-in-out infinite;
            }
            
            @keyframes float {
            0% {
              transform: translatey(0px);
            }
            50% {
              transform: translatey(-10px);
            }
            100% {
              transform: translatey(0px);
            }
          }
          
            .notificationBox:before {
              position: absolute;
              content: "";
              inset: 0.0625rem;
              border-radius: 0.9375rem;
              background: #171714;
              z-index: 2
            }
            
            .notificationBox:after {
              position: absolute;
              content: "";
              width: 0.25rem;
              inset: 0.65rem auto 0.65rem 0.5rem;
              border-radius: 0.125rem;
              background: var(--gradient);
              transition: transform 300ms ease;
              z-index: 4;
            }
            
            .notificationBox:hover {
                transform: scale(1.05);
                box-shadow: 0 0px 19px rgba(253, 255, 142, 0.079);
                margin-left: 10px;
                margin-right: 10px;
            }
            
            .notificationBox:hover:after {
              transform: translateX(0.15rem)
            }
            
            .notititle {
              color: var(--color);
              padding: 0.65rem 0.25rem 0.4rem 1.25rem;
              font-weight: 500;
              font-size: 1.1rem;
              transition: transform 300ms ease;
              z-index: 5;
              font-weight: bolder;
            }
            
            .notificationBox:hover .notititle {
              transform: translateX(0.15rem)
            }
            
            .notibody {
              color: #99999d;
              padding: 0 1.25rem;
              transition: transform 300ms ease;
              z-index: 5;
            }
            /*
            .notification:hover .notibody {
              transform: translateX(0.25rem)
            }
              */
            
            .notiglow,
            .notiborderglow {
              position: absolute;
              width: 20rem;
              height: 20rem;
              transform: translate(-0%, -20%);
              background: radial-gradient(circle closest-side at center, rgb(255, 244, 118), transparent);
              opacity: 0;
              transition: opacity 300ms ease;
            }
            
            .notiglow {
              z-index: 3;
            }
            
            .notiborderglow {
              z-index: 1;
            }
            
            .notificationBox:hover .notiglow {
              opacity: 0.1
            }
            
            .notificationBox:hover .notiborderglow {
              opacity: 0.1
            }
            
            .note {
              color: var(--color);
              position: fixed;
              top: 80%;
              left: 50%;
              transform: translateX(-50%);
              text-align: center;
              font-size: 0.9rem;
              width: 75%;
            }
            .BoxSec {
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-top: 0px;
                flex-wrap: wrap; /* This allows the items to wrap to the next line */
            }
          
          .notibody h2 {
              font-family: Designer;
              font-weight: lighter;
              color: rgb(255, 248, 206);
            }
          .notibody p {
              font-family: Tommy;
              font-size: 12px;
              font-weight: lighter;
              color: rgb(168, 165, 146);
              text-align: left;
            }
          }
            /* ------------------------------------- */
          
            @media screen and (min-width: 1118px) {
              .notificationBox {
                  margin-top: -140px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  isolation: isolate;
                  position: relative;
                  width: 435px;
                  height: 200px;
                  background: rgba(255, 230, 0, 0.126);
                  border-radius: 1rem;
                  overflow: hidden;
                  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                  font-size: 16px;
                  --color: #32a6ff;
                  text-align: center;
                  align-content: center;
                  transition: 0.5s ease;
                }
                .notificationBox img {
                    width: 400px;
                    height: 200px;
                    margin-bottom: 0px;
                    border-radius: 20px;
                    transition: opacity 0.5s ease;
                    z-index: 2;
                    left: 50%;
                    animation: float 4s ease-in-out infinite;
                }
                
                @keyframes float {
                  0% {
                      transform: translatey(10px);
                  }
                  50% {
                      transform: translatey(0px);
                  }
                  100% {
                      transform: translatey(10px);
                  }
              }
              
                .notificationBox:before {
                  position: absolute;
                  content: "";
                  inset: 0.0625rem;
                  border-radius: 0.9375rem;
                  background: #171714;
                  z-index: 2
                }
                
                .notificationBox:after {
                  position: absolute;
                  content: "";
                  width: 0.25rem;
                  inset: 0.65rem auto 0.65rem 0.5rem;
                  border-radius: 0.125rem;
                  background: var(--gradient);
                  transition: transform 300ms ease;
                  z-index: 4;
                }
                
                .notificationBox:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0px 19px rgba(253, 255, 142, 0.079);
                    margin-left: 20px;
                    margin-right: 20px;
                }
                
                .notificationBox:hover:after {
                  transform: translateX(0.15rem)
                }
                
                .notititle {
                  color: var(--color);
                  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
                  font-weight: 500;
                  font-size: 1.1rem;
                  transition: transform 300ms ease;
                  z-index: 5;
                  font-weight: bolder;
                }
                
                .notificationBox:hover .notititle {
                  transform: translateX(0.15rem)
                }
                
                .notibody {
                  color: #99999d;
                  padding: 0 1.25rem;
                  transition: transform 300ms ease;
                  z-index: 5;
                }
                /*
                .notification:hover .notibody {
                  transform: translateX(0.25rem)
                }
                  */
                
                .notiglow,
                .notiborderglow {
                  position: absolute;
                  width: 20rem;
                  height: 20rem;
                  transform: translate(-0%, -20%);
                  background: radial-gradient(circle closest-side at center, rgb(255, 244, 118), transparent);
                  opacity: 0;
                  transition: opacity 300ms ease;
                }
                
                .notiglow {
                  z-index: 3;
                }
                
                .notiborderglow {
                  z-index: 1;
                }
                
                .notificationBox:hover .notiglow {
                  opacity: 0.1
                }
                
                .notificationBox:hover .notiborderglow {
                  opacity: 0.1
                }
                
                .note {
                  color: var(--color);
                  position: fixed;
                  top: 80%;
                  left: 50%;
                  transform: translateX(-50%);
                  text-align: center;
                  font-size: 0.9rem;
                  width: 75%;
                }
                .BoxSec {
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    margin-top: 40px;
                    flex-wrap: wrap; /* This allows the items to wrap to the next line */
                }

              .notibody h2 {
                  font-family: Designer;
                  font-weight: lighter;
                  color: rgb(255, 248, 206);
                }
              .notibody p {
                  font-family: Tommy;
                  font-weight: lighter;
                  color: rgb(168, 165, 146);
                }
              }


        /* ------------- TEAM -------------------- */


        .Hoader {
          width: 100%;
          height: auto;
          display: grid;
          place-items: center;
          padding: 0px 0;
        }
        .Hoader .Equipe {
          font-size: 29px;
          color: rgba(91, 14, 216, 0.767);
          position: relative;

          font-weight: 500;
          font-family: Designer;
          color: white;
        }
        .Hoader .Equipe::after {
          content: " ";
          position: absolute;
          width: 50%;
          height: 3px;
          left: 50%;
          bottom: -5px;
          transform: translateX(-50%);
          background-image: linear-gradient(to right,rgba(72, 71, 0, 0), rgba(216, 213, 14, 0.767), rgba(72, 71, 0, 0));
        }