/* width & height */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 9%);
    border-radius: 40px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #444233;
    transition: 0.5s all;
    border-radius: 40px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #26251c;
    transition: 0.5s all;
  }